/* BASICS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px 50px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 36px;

  //background strokes
  background: repeating-linear-gradient(45deg
  , #fff, #fff 8px, #D2E6F4 8px, #D2E6F4 16px);
}

h1 {
  font-size: 44px;
  margin: 0;
  font-weight: 400;
  line-height: 65px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    padding: 16px 23px 16px 5px;
    line-height: 48px;
    position: relative;
    display: inline-block;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      background-color: $color-primary-light;
      left: 0;
      bottom: 8px;
      width: 90%;
      z-index: -1;
      height:25px;
    }
}

h3 {
  font-size: 26px;
}


/* WRAPPER */

.wrapper {
  padding: 30px 35px;
  margin: 0 auto;
  color: $base-text-color;
  background: white;
  z-index: -2;
}

@media (min-width: 700px) {
  .wrapper {
    padding: 70px 90px;
    margin: 0 auto;
  }
}

/*NAV*/

header {
  justify-content: end;
}

.nav__item {
  margin-right: 20px;
  color: $base-text-color;
  text-decoration: none;
}

.nav__item:hover {
  text-decoration: underline;
  transition: 0.5s ease;
}

.nav__number {
  font-weight: 900;
  font-size: 16px;
  margin-right: 5px;
}

/* HEADER */

.headline__text {
  padding: 70px 0;

  p {
    font-size: 22px;
    max-width: 48ch;
  }
}

.headline--big {
  font-size: 44px;
  margin-bottom: 30px;
}

/* SECTION */

.section__block {

}

.section__item {
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}

.section__line {
  width:100%;
  height:1px;
  background: $color-underline;
}

.section__item--reverse {
  flex-direction: row-reverse;
}

.section__text {
  width: 45ch;
}

.section__img {
  width: 45%;
}

.section__link {
  color: $color-primary-dark;
  text-decoration: none;
  font-weight: 700;
}


//.headline-text-wrapper {
//  margin-bottom: 60px;
//
//  p {
//    font-size: 25px;
//    padding-left: 23px;
//  }
//}
//
//@media(min-width: 1150px) {
//
//  .headline-text-wrapper {
//    height:30px;
//    margin-bottom: 80px;
//
//    p {
//      font-size: 30px;
//    }
//  }
//
//  .headline-wrapper div {
//      max-width: 40%;
//      margin-top: 80px;
//
//    svg {
//      max-width:45%;
//      margin: auto;
//    }
//  }
//}
//
//.projects-wrapper {
//  justify-content: space-between;
//  margin-bottom:50px;
//}
//
//
//
//.projects-text-wrapper {
//  margin-right: 24px;
//
//  svg {
//    width:20%;
//    height: auto;
//    margin-bottom: 25px;
//  }
//
//  a {
//    font-weight: 700;
//  }
//}
//
//@media(min-width: 1150px)  {
//
//  .projects-text-wrapper {
//    margin-right: 24px;
//    max-width:20%;
//
//    svg {
//      width:60%;
//      height: auto;
//      margin-bottom: 25px;
//    }
//  }
//}
//
//
//.home-project-img {
//  width:75%;
//
//  img {
//    width: 100%;
//  }
//}


/* PROJECT PAGE*/

.header-product-page {
  padding:40px 80px 80px;


  a.back-btn {
    font-weight: 700;
    text-decoration: none;
    position: fixed;
  }

  a.back-btn:hover {
    text-decoration: underline;
  }
}


.project-page-text-container {
  width:70%;
  margin-bottom: 40px;

  svg {
    margin-bottom: 25px;
  }
  p {
    margin-bottom: 25px;
  }

  a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
  }
}

.project-page-img {
  margin-bottom: 60px;
}


/*# sourceMappingURL=main.scss.map */
